<a href="https://colab.research.google.com/github/bhanupriya9916/bhanu121998/blob/main/assignment1_Q9_a_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
data=pd.read_csv("/content/Q9_a.csv")

In [27]:
data.head()

  Index  speed  dist
0     1    4.0   2.0
1     2    4.0  10.0
2     3    7.0   4.0
3     4    7.0  22.0
4     5    8.0  16.0

In [28]:
# Skewness
data.skew()

<ipython-input-28-f6c7a79def73>:2: FutureWarning: The default value of numeric_only in DataFrame.skew is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.skew()

speed   -0.489463
dist     0.732479
dtype: float64

In [29]:
# Kurtosis
data.kurt()

<ipython-input-29-2967af49ff4c>:2: FutureWarning: The default value of numeric_only in DataFrame.kurt is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.kurt()

speed    0.123595
dist     0.315674
dtype: float64